numpy==1.22.2
scipy==1.8.0
soundfile>=0.10.2
torch==2.0.1
torchaudio==2.0.2
pandas>=1.1.1
jsonargparse==4.19.0
torchmetrics==0.11.4
pesq==0.0.4
pystoi==0.3.3
SRMRpy==1.0
gpuRIR==1.2.0
logging
glob
tqdm